<div *ngIf="showPageLoader" class="loader-container">
  <div class="loader-wrapper">
    <div class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader2" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader3" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>
  </div>
</div>
<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>

<ion-content class="page-body signature">
    <div class="scan-id-container">
        <i></i>
        <i></i>
        <button class="scan-id" (click)='send()'>
            <i class="fas fa-signature"></i>
        </button>
      </div>
    <button class="back-btn" (click)="clear()"><i class="fas fa-trash-alt"></i></button>
</ion-content>