<div *ngIf="showPageLoader" class="loader-container">
  <div class="loader-wrapper">
    <div class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader2" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader3" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>
  </div>
</div>
<ion-content class="page-body contract-details" padding>
  <button class="back-btn" routerLink="/dashboard">
      <i class="fas fa-chevron-left"></i>
  </button>
  <h1 class="title">{{contract?.name}}</h1>
  <h3 class="sub-title">{{contract?.provider?.name}}</h3>
  <div class="details">
    <img class="contract-preview" [src]="contract?.preview ? contract.preview : './images/contract.png'" alt="Contract Preview" (click)="showDoc()"/>
    {{contract?.description}}
  </div>
  <div *ngIf="isSigned && showModal" class="qr-modal">
    <img [src]="signedContract.qr">
    <button class="back-btn" (click)="closeModal()">
        <i class="fas fa-times"></i>
  </button>
  </div>
  <div *ngIf="!isSigned" class="scan-face-container">
    <i></i>
    <i></i>
    <button class="scan-face" (click)="action()">
      <i class="fas fa-smile-wink"></i>
    </button>
  </div>
  <div *ngIf="isSigned" class="scan-face-container">
    <i></i>
    <i></i>
    <button class="scan-face" (click)="action()">
      <i class="fas fa-qrcode"></i>
    </button>
  </div>
</ion-content>