<ion-content class="page-body sign-up" padding>
    <h1 class="title">Sign-up here</h1>
    <h3 class="sub-title">Please fillout the form</h3>
  
    <form (ngSubmit)="signIn(signinForm)" #signinForm=ngForm autocomplete="off">
      <div class="group">      
        <input type="email" name="email" [ngClass]="{'has-value' : user.email.length}" [(ngModel)]='user.email' required email>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>E-mail</label>
      </div>
      <div [hidden]="!signinForm.controls['email']?.touched || user.email" class="error">
        <i class="fas fa-exclamation-triangle"></i> E-mail is required
      </div>
      <div [hidden]="!signinForm.controls['email']?.touched  || signinForm.controls['email']?.valid" class="error">
        <i class="fas fa-exclamation-triangle"></i>Must enter a valid e-mail
      </div>
      <div class="group">      
          <input type="password" name="password" [ngClass]="{'has-value' : user.password.length}" [(ngModel)]='user.password' required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
      </div>    
      <div [hidden]="!signinForm.controls['password']?.touched || user.password" class="error">
          <i class="fas fa-exclamation-triangle"></i>Password is required
      </div>
      <div class="group">      
          <input type="password" name="confirm" [ngClass]="{'has-value' : user.confirm.length}" [(ngModel)]='user.confirm' required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Confirm password</label>
      </div>    
      <div [hidden]="!signinForm.controls['confirm']?.touched || user.confirm" class="error">
          <i class="fas fa-exclamation-triangle"></i> Confirming your password is required
      </div>          
      <div [hidden]="!signinForm.controls['confirm']?.touched || user.password == user.confirm" class="error">
          <i class="fas fa-exclamation-triangle"></i> Needs to be the same as password
      </div>
      <button type="submit" class="login-btn" [ngClass]="{'loading': isLoading, 'locked': !signinForm.form.valid || user.password != user.confirm}" [disabled]="!signinForm.form.valid || isLoading"><i class="fas fa-lock"></i>
          <i class="fas fa-spinner fa-pulse"></i> Sign-up</button>
    </form>  
    <div class="extra-text">
      <p>Already have an account? <a routerLink="/">Sign in</a></p>
    </div>
  </ion-content>