<div *ngIf="showPageLoader" class="loader-container">
  <div class="loader-wrapper">
    <div class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader2" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader3" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>
  </div>
</div>
<ion-content class="page-body identity" padding>
  <div *ngIf="step == 'scan'">
    <h1 class="title">Tell us who you are!</h1>
    <div class="scan-id-container">
      <i></i>
      <i></i>
      <button class="scan-id" (click)='scanId()'>
        <i class="fas fa-id-card"></i>
      </button>
    </div>
  </div>
  <div *ngIf="step == 'confirm'">
    <h1 class="title">Is this you?</h1>

    <form (ngSubmit)="sendIdentity(identityForm)" #identityForm=ngForm autocomplete="off">
      <div class="group">
        <input type="text" name="firstName" [ngClass]="{'has-value' : user.firstName.length}" [(ngModel)]='user.firstName'
          required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Given Names</label>
      </div>
      <div class="group">
        <input type="text" name="lastName" [ngClass]="{'has-value' : user.lastName.length}" [(ngModel)]='user.lastName'
          required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Surname</label>
      </div>
      <div class="group">
        <input type="text" name="idNumber" [ngClass]="{'has-value' : user.idNumber.length}" [(ngModel)]='user.idNumber'
          readonly required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>ID Number</label>
      </div>
      <div class="group">
        <input type="text" name="uniqueidentifier" [ngClass]="{'has-value' : user.uniqueidentifier.length}" [(ngModel)]='user.uniqueidentifier'
          readonly required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Personal Number</label>
      </div>
      <div class="group">
        <input type="text" name="citizenship" [ngClass]="{'has-value' : user.citizenship.length}" [(ngModel)]='user.citizenship'
          readonly required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Citizenship</label>
      </div>
      <div class="group">
        <input type="text" name="birthday" [ngClass]="{'has-value' : user.birthday.length}" [(ngModel)]='user.birthday'
          readonly required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Birthday</label>
      </div>
      <button type="submit" class="save-btn" [ngClass]="{'loading': isLoading, 'locked': !identityForm.form.valid}"
        [disabled]="!identityForm.form.valid || isLoading"><i class="fas fa-lock"></i>
        <i class="fas fa-spinner fa-pulse"></i> Confirm identity</button>
    </form>
    <div *ngIf="!identityForm.form.valid" class="extra-text">
      <p>Cannot submit info because information is missing!</p>
      <p>Please rescan
        <button class="scan-id" (click)='scanId()'>
          <i class="fas fa-id-card"></i>
        </button> or edit where possible</p>
    </div>
  </div>
</ion-content>