<div *ngIf="showPageLoader" class="loader-container">
  <div class="loader-wrapper">
    <div class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader2" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader3" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>
  </div>
</div>
<ion-content class="page-body new-contract" padding>
  <button class="back-btn" routerLink="/dashboard">
      <i class="fas fa-chevron-left"></i>
  </button>
  <h1 class="title">Scan contract QR code!</h1>
  <div class="scan-id-container">
    <i></i>
    <i></i>
    <button class="scan-id" (click)='scanQr()'>
      <i class="fas fa-qrcode"></i>
    </button>
  </div>
</ion-content>