<ion-content class="page-body log-in" padding>
  <h1 class="title">Welcome!</h1>
  <h3 class="sub-title">Please log-in</h3>
  <form (ngSubmit)="login(loginForm)" #loginForm=ngForm autocomplete="off">
    <div class="group">      
      <input type="email" name="email" [ngClass]="{'has-value' : user.email.length}" [(ngModel)]='user.email' required email>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>E-mail</label>
    </div>
    <div [hidden]="!loginForm.controls['email']?.touched || user.email" class="error">
      <i class="fas fa-exclamation-triangle"></i> E-mail is required
    </div>
    <div [hidden]="!loginForm.controls['email']?.touched  || loginForm.controls['email']?.valid" class="error">
      <i class="fas fa-exclamation-triangle"></i>Must enter a valid e-mail
    </div>
    <div class="group">      
        <input type="password" name="password" [ngClass]="{'has-value' : user.password.length}" [(ngModel)]='user.password' required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
    </div>    
    <div [hidden]="!loginForm.controls['password']?.touched || user.password" class="error">
        <i class="fas fa-exclamation-triangle"></i>Password is required
    </div>
    <button type="submit" class="login-btn" [ngClass]="{'loading': isLoading, 'locked': !loginForm.form.valid}" [disabled]="!loginForm.form.valid || isLoading"><i class="fas fa-lock"></i>
        <i class="fas fa-spinner fa-pulse"></i> Log-in</button>
  </form>  
  <div class="extra-text">
    <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
  </div>
</ion-content>