<div *ngIf="showPageLoader" class="loader-container">
  <div class="loader-wrapper">
    <div class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader2" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>

    <div id="loader3" class="loader">
      <div class="roller"></div>
      <div class="roller"></div>
    </div>
  </div>
</div>
<ion-content class="page-body dashboard" padding>
    <button class="back-btn" (click)="logOut();">
      <i class="fas fa-power-off"></i>
    </button>
    <h1 class="title">Dashboard</h1>

    <div class="search-bar">
      <input type="search" placeholder="Search" [(ngModel)]="searchContracts">
      <i class="fas fa-search"></i>
    </div>

    <div class="contracts">
      <div class="contract header">
          <div class="no">No.</div><div class="name">Name</div><div class="provider">Provider</div>
      </div>
      <div *ngFor="let contract of (contracts | filterContracts: searchContracts); index as i;" class="contract" (click)="open(contract)">
        <div class="no">{{i + 1}}.</div><div class="name">{{contract?.name}}</div><div class="provider">{{contract?.provider?.name}}</div>
      </div>
      <div *ngIf="!contracts.length && !searchContracts" class="contract" style="padding: 2rem 0rem; justify-content: center">
        You have 0 contracts!
      </div>
      <div *ngIf="!contracts.length && searchContracts" class="contract" style="padding: 2rem 0rem; justify-content: center">
        No contracts match the search criteria!
      </div>
    </div>
    <div class="add-contract-container">
        <i></i>
        <i></i>
        <button class="add-contract" routerLink="/new-contract">
          <i class="fas fa-file-contract"></i>
        </button>
      </div>
</ion-content>