/* Loader */
$loader-duration: 1.2s;
$loader-iteration-count: infinite;
$loader-direction: normal;

.loader-wrapper {
  width: 148px;
  height: 100px;
  position: absolute;
  margin: -50px 0 0 -74px;
  left: 50%;
  top: 50%;
}
.loader {
  width: 148px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;

  &:after {
    content: "";
    top: auto;
    position: absolute;
    display: block;
    animation: shadow $loader-duration $loader-iteration-count linear;
    -moz-animation: shadow $loader-duration $loader-iteration-count linear;
    -webkit-animation: shadow $loader-duration $loader-iteration-count linear;
    bottom: 0em;
    left: 0;
    height: 0.25em;
    width: 1em;
    border-radius: 50%;
    background-color: darken($baseColorWildWatermelon, 45%);
    opacity: 0.3;
  }
}
.roller,
.roller:last-child {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation: rollercoaster $loader-duration $loader-iteration-count linear;
  -moz-transform: rotate(135deg);
  animation: rollercoaster $loader-duration $loader-iteration-count linear;
  transform: rotate(135deg);
  -webkit-animation: rollercoaster $loader-duration $loader-iteration-count linear;
  -webkit-transform: rotate(135deg);
}
.roller:last-child {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 $loader-duration $loader-iteration-count
    linear;
  -moz-transform: rotate(-45deg);
  -moz-animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
  transform: rotate(-45deg);
  animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
}
.roller:before,
.roller:last-child:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: $baseColorWildWatermelon;
  border-radius: 50%;
}

@-webkit-keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg);
  }
  8% {
    -webkit-transform: rotate(240deg);
  }

  20% {
    -webkit-transform: rotate(300deg);
  }

  40% {
    -webkit-transform: rotate(380deg);
  }
  45% {
    -webkit-transform: rotate(440deg);
  }
  50% {
    -webkit-transform: rotate(495deg);
    opacity: 1;
  }
  50.1% {
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
}

@-webkit-keyframes rollercoaster2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
  }
  58% {
    -webkit-transform: rotate(-160deg);
  }

  70% {
    -webkit-transform: rotate(-240deg);
  }

  80% {
    -webkit-transform: rotate(-300deg);
  }

  90% {
    -webkit-transform: rotate(-340deg);
  }

  100% {
    -webkit-transform: rotate(-405deg);
  }
}

@-webkit-keyframes shadow {
  0% {
    opacity: 0.3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5);
  }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2);
  }

  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3);
  }

  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3;
  }

  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
    opacity: 0.05;
  }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2);
  }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: translateX(60px);
    opacity: 0.3;
  }
}

/* Moz */

@-moz-keyframes rollercoaster {
  0% {
    -moz-transform: rotate(135deg);    
    -webkit-transform: rotate(135deg);
  }
  8% {
    -moz-transform: rotate(240deg);    
    -webkit-transform: rotate(135deg);
  }
  20% {
    -moz-transform: rotate(300deg);    
    -webkit-transform: rotate(300deg);
  }
  40% {
    -moz-transform: rotate(380deg);    
    -webkit-transform: rotate(380deg);
  }
  45% {
    -moz-transform: rotate(440deg);    
    -webkit-transform: rotate(440deg);
  }
  50% {
    -moz-transform: rotate(495deg);    
    -webkit-transform: rotate(495deg);
    opacity: 1;
  }
  50.1% {
    -moz-transform: rotate(495deg);    
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
  100% {
    -moz-transform: rotate(495deg);   
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
}

@-moz-keyframes rollercoaster2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-45deg);
  }
  58% {
    -moz-transform: rotate(-160deg);
  }
  70% {
    -moz-transform: rotate(-240deg);
  }
  80% {
    -moz-transform: rotate(-300deg);
  }
  90% {
    -moz-transform: rotate(-340deg);
  }
  100% {
    -moz-transform: rotate(-405deg);
  }
}

@-moz-keyframes shadow {
  0% {
    opacity: 0.3;
    -moz-transform: translateX(65px) scale(0.5, 0.5);
  }
  8% {
    -moz-transform: translateX(30px) scale(2, 2);
  }
  13% {
    -moz-transform: translateX(0px) scale(1.3, 1.3);
  }
  30% {
    -moz-transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    -moz-transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3;
  }
  60% {
    -moz-transform: translateX(130px) scale(2, 2);
    opacity: 0.05;
  }
  65% {
    -moz-transform: translateX(145px) scale(1.2, 1.2);
  }
  80% {
    -moz-transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  90% {
    -moz-transform: translateX(80px) scale(0.8, 0.8);
  }
  100% {
    -moz-transform: translateX(60px);
    opacity: 0.3;
  }
}

/* No-prefix */
@keyframes rollercoaster {
  0% {
    transform: rotate(135deg);
  }
  8% {
    transform: rotate(240deg);
  }
  20% {
    transform: rotate(300deg);
  }
  40% {
    transform: rotate(380deg);
  }
  45% {
    transform: rotate(440deg);
  }
  50% {
    transform: rotate(495deg);
    opacity: 1;
  }
  50.1% {
    transform: rotate(495deg);
    opacity: 0;
  }
  100% {
    transform: rotate(495deg);
    opacity: 0;
  }
}

@keyframes rollercoaster2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(-45deg);
  }
  58% {
    transform: rotate(-160deg);
  }
  70% {
    transform: rotate(-240deg);
  }
  80% {
    transform: rotate(-300deg);
  }
  90% {
    transform: rotate(-340deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes shadow {
  0% {
    opacity: 0.3;
    transform: translateX(65px) scale(0.5, 0.5);
  }
  8% {
    transform: translateX(30px) scale(2, 2);
  }
  13% {
    transform: translateX(0px) scale(1.3, 1.3);
  }
  30% {
    transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3;
  }
  60% {
    transform: translateX(130px) scale(2, 2);
    opacity: 0.05;
  }
  65% {
    transform: translateX(145px) scale(1.2, 1.2);
  }
  80% {
    transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  90% {
    transform: translateX(80px) scale(0.8, 0.8);
  }
  100% {
    transform: translateX(60px);
    opacity: 0.3;
  }
}

#loader2 {
  &:after {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }

  .roller {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
}

#loader3 {
  &:after {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .roller {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
}
/* End Loader */

/* General SCSS */
* {
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

body {
  background-color: $baseColorSanJuan;

  ion-app {
    height: 100%;
    width: 100%;
  }

  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: $baseColorSanJuan;
    z-index: 9999;
  }

  .page-body {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $baseColorSanJuan;

    .content {
      height: 100vh;
      width: calc(100vw - 32px);
      overflow: auto;
    }

    button.back-btn {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      background: none;
      outline: none;
      border: none;
      padding: 0;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      line-height: 1.5em;
      color: $baseColorWildSand;
      background: radial-gradient(
        ellipse at center,
        rgba(252, 81, 133, 1) 37%,
        rgba(252, 81, 133, 0.34) 100%
      );
      border-radius: 50%;
      z-index: 2;
    }

    .title,
    .sub-title {
      color: $baseColorWildSand;
      font-size: 2rem;
      text-align: center;
    }

    .title {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .sub-title {
      margin-top: 0rem;
      font-size: 1rem;
    }

    form {
      /* form starting stylings ------------------------------- */
      .group {
        position: relative;
        margin-top: 2.5rem;
      }
      input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        color: #f5f5f5;
        border-bottom: 1px solid $baseColorWildWatermelon;
        background: none;
      }
      input:focus {
        outline: none;
      }

      /* LABEL ======================================= */
      label {
        color: $baseColorWildWatermelon;
        font-size: 18px;
        font-weight: bold;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      /* active state */
      input:focus ~ label,
      input.has-value ~ label {
        top: -20px;
        font-size: 14px;
        font-weight: bold;
        color: $baseColorWildWatermelon;
      }

      /* BOTTOM BARS ================================= */
      .bar {
        position: relative;
        display: block;
        width: 100%;
      }
      .bar:before,
      .bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: $baseColorWildWatermelon;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
      .bar:before {
        left: 50%;
      }
      .bar:after {
        right: 50%;
      }

      /* active state */
      input:focus ~ .bar:before,
      input:focus ~ .bar:after {
        width: 50%;
      }

      /* HIGHLIGHTER ================================== */
      .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
      }

      /* active state */
      input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
      }

      /* ANIMATIONS ================ */
      @-webkit-keyframes inputHighlighter {
        from {
          background: none;
        }
        to {
          width: 0;
          background: transparent;
        }
      }
      @-moz-keyframes inputHighlighter {
        from {
          background: none;
        }
        to {
          width: 0;
          background: transparent;
        }
      }
      @keyframes inputHighlighter {
        from {
          background: none;
        }
        to {
          width: 0;
          background: transparent;
        }
      }

      button[type="submit"] {
        width: 100%;
        margin: 0.25rem 0rem;
        margin-top: 1rem;
        padding: 0.5rem 0rem;
        border-radius: 0.25rem;
        background-color: $baseColorWildSand;
        color: $baseColorWildWatermelon;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;

        .fa-lock {
          display: none;
        }

        .fa-spinner {
          display: none;
        }

        &.locked {
          .fa-lock {
            display: inline-block;
          }
        }

        &.loading {
          .fa-spinner {
            display: inline-block;
          }
        }
      }

      .error {
        padding: 0.25rem 0rem;
        padding-left: 0.5rem;
        color: $baseColorWildSand;
      }
    }

    .search-bar {
      position: relative;
      width: 100%;

      input[type="search"] {
        width: 100%;
        background-color: $baseColorWildSand;
        border-radius: 1rem;
        font-size: 1rem;
        padding: 0.5rem;
        padding-left: 2.5rem;
        outline: none;
      }

      .fa-search {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 1.5rem;
        color: $baseColorWildWatermelon;
      }
    }

    .extra-text {
      p {
        color: $baseColorWildSand;

        a {
          font-weight: bold;
          color: $baseColorWildWatermelon;
          cursor: pointer;
        }

        button.scan-id {
          width: 2rem;
          height: 2rem;
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }

    &.identity,
    &.new-contract,
    &.signature {
      .scan-id-container {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 100%;
        padding: 3rem 0rem;
        text-align: center;

        i {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          background-color: white;
          z-index: -1;

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4rem;
            margin-left: -4rem;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: white;
            box-sizing: border-box;
            animation: scale-before 2s infinite ease;
            -webkit-animation: scale-before 2s infinite ease;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4rem;
            margin-left: -4rem;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: white;
            box-sizing: border-box;
            animation: scale-after 2s infinite 0.3s;            
            -webkit-animation: scale-after 2s infinite 0.3s;
          }

          &:nth-of-type(2) {
            &:before {
              animation-delay: 0.3s;
              -webkit-animation-delay: 0.3s;
            }

            &:after {
              animation-delay: 0.6s;
              -webkit-animation-delay: 0.6s;
            }
          }

          &:nth-of-type(3) {
            &:before {
              animation-delay: 0.6s;
              -webkit-animation-delay: 0.6s;
            }

            &:after {
              animation-delay: 0.9s;
              -webkit-animation-delay: 0.9s;
              
            }
          }
        }

        /*//////// Animations ////////*/

        @keyframes scale-before {
          0% {
            transform: scale(0.5);            
            -webkit-transform: scale(0.5);
            opacity: 1;
          }

          40% {
            opacity: 0.5;
          }

          100% {
            transform: scale(2);            
            -webkit-transform: scale(2);
            opacity: 0;
          }
        }

        @keyframes scale-after {
          0% {
            transform: scale(0.5);
            -webkit-transform: scale(0.5);
            opacity: 1;
          }

          40% {
            opacity: 0.5;
          }

          100% {
            transform: scale(3);
            -webkit-transform: scale(3);
            opacity: 0;
          }
        }

        @-webkit-keyframes scale-before {
          0% {
            transform: scale(0.5);            
            -webkit-transform: scale(0.5);
            opacity: 1;
          }

          40% {
            opacity: 0.5;
          }

          100% {
            transform: scale(2);            
            -webkit-transform: scale(2);
            opacity: 0;
          }
        }

        @-webkit-keyframes scale-after {
          0% {
            transform: scale(0.5);
            -webkit-transform: scale(0.5);
            opacity: 1;
          }

          40% {
            opacity: 0.5;
          }

          100% {
            transform: scale(3);
            -webkit-transform: scale(3);
            opacity: 0;
          }
        }
      }

      button.scan-id {
        background: none;
        outline: none;
        border: none;
        padding: 0;
        width: 6rem;
        height: 6rem;
        font-size: 4rem;
        line-height: 4rem;
        color: $baseColorWildSand;
        background: radial-gradient(
          ellipse at center,
          rgba(252, 81, 133, 1) 37%,
          rgba(252, 81, 133, 0.34) 100%
        );
        border-radius: 50%;
        z-index: 2;
      }
    }

    &.dashboard,
    &.contract-details {

      .add-contract-container,
      .scan-face-container {
        position: fixed;
        top: auto;
        left: 0%;
        transform: translateY(-50%);
        width: 100%;
        padding: 3rem 0rem;
        text-align: center;

        i {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          background-color: white;
          z-index: -1;

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -2rem;
            margin-left: -2rem;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: white;
            box-sizing: border-box;
            animation: scale-before 2s infinite ease;
            -webkit-animation: scale-before 2s infinite ease;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -2rem;
            margin-left: -2rem;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: white;
            box-sizing: border-box;
            animation: scale-after 2s infinite 0.3s;
            -webkit-animation: scale-after 2s infinite 0.3s;
          }
        }
      }

      button.add-contract,
      button.scan-face {
        background: none;
        outline: none;
        border: none;
        padding: 0;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        line-height: 2rem;
        color: $baseColorWildSand;
        background: radial-gradient(
          ellipse at center,
          rgba(252, 81, 133, 1) 37%,
          rgba(252, 81, 133, 0.34) 100%
        );
        border-radius: 50%;
        z-index: 2;
      }  
    }

    &.dashboard {
      .contracts {
        width: 100%;
        height: calc(100% - 12rem);
        overflow-y: auto;
        margin: 1rem 0rem;
        color: $baseColorWildSand;

        .contract {
          display: flex;
          padding: 0.5rem 0rem;
          align-items: center;
          transition: all 0.5s;

          .no,
          .name,
          .provider {
            flex: 1;
            text-align: center;
          }

          .no {
            flex: 0 0 3rem;
            font-weight: bold;
          }

          .name,
          .provider {
            padding: 0 0.25rem;
          }

          &.header {
            border-bottom: 1px solid $baseColorWildSand;
            .no,
            .name,
            .provider {
              font-size: 1.5rem;
              font-weight: bold;
            }
          }

          &:hover {
            background-color: $baseColorWildSand;
            color: $baseColorWildWatermelon;
          }
        }    
      }        
    }

    &.contract-details {
      .details {        
        width: 100%;
        height: calc(100% - 14.5rem);
        overflow-y: auto;
        margin: 1rem 0rem;
        margin-bottom: 5rem;
        text-align: justify;
        color: $baseColorWildSand;

        .contract-preview {
          float: left;
          height: 10rem;
          padding: 0.5rem;
        }
      }

      .qr-modal {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $baseColorSanJuan;
        z-index: 8;

        img {
          height: 15rem;
          max-width: none;
        }
      }
    }
  }
}

.transparentBody {
  background: transparent !important;
}

page-qr-scanner {
  ion-content {
     background: transparent !important;
  }
}

/* End General SCSS */
