#toasts-container {
    $transparentBlack:rgba(100,100,100,.8);
    
    /* Toast Colors */
    $success: rgba(46, 204, 113, 0.85);
    $successHover: rgba(46, 204, 113, 1);
    
    $error: rgba(231, 76, 60, 0.85);
    $errorHover: rgba(231, 76, 60, 1);
    
    $alert: rgba(230, 126, 34, 0.85);
    $alertHover: rgba(230, 126, 34, 1);
    
    $info: rgba(52, 152, 219, 0.85);
    $infoHover: rgba(52, 152, 219, 1);

    $white: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    line-height: 0;

    &.blockScreen {
        height: 100vh;
        background-color: $transparentBlack;

        .toast {
            margin-top: 20vh;
        }
    }

    .toast {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding: 10px 0;
        opacity: 1;
        color: $white;
        cursor: pointer;
        line-height: 1;
        font-size: 22px;
        text-align: center;
        transition: all 0.6s;
        animation: dropin 0.6s 1;

        p {
            margin: 0;
            font-size: 1rem;

            a{
                color: $white;
                text-decoration: underline;
            }
        }

        &.fadeOut {
            height: 0px;
            opacity: 0;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }

        &.success {
            background-color: $success;

            &:hover {
                background-color: $successHover;
            }
        }

        &.error {
            background-color: $error;

            &:hover {
                background-color: $errorHover;
            }
        }

        &.alert {
            background-color: $alert;

            &:hover {
                background-color: $alertHover;
            }
        }

        &.info {
            background-color: $info;

            &:hover {
                background-color: $infoHover;
            }
        }
    }
    /* Fade in for toasts */
    @keyframes dropin {
        from, 60%, 75%, 90%, to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }

        to {
            -webkit-transform: none;
            transform: none;
        }
    }
}
