/* Fonts */
$raleWay: 'Raleway', sans-serif;
/* End Fonts */

/* Variables */
$baseColorSanJuan: #364f6b;
$baseColorPelorous: #3fc1c9;
$baseColorWildSand: #f5f5f5;
$baseColorWildWatermelon: #fc5185;
$neutralColor: rgba(127, 140, 141, 1);


  /** Inputs **/ 
/* End variables */